{% extends "base.html" %}
{% block title %}Editar Perfil{% endblock %}
{% block content %}
    <h1>Editar Perfil:</h1>
    {% for u in users %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.password }}</td>
        </tr>
    {% endfor %}
    <form action="/edit_perfil/{{ user.id }}" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
        </div>
        <div class="mb-3">
            <label for="perfil" class="form-label">Perfil</label>
            <input type="text" class="form-control" id="password" name="password" value="{{ user.password }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    </form>
{% endblock %}