<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Html</title>
</head>
<body>
    <h1>Bom Dia</h1>
    <p>
        Tudo bem?
    </p>
    <img src="https://cdn.pixilart.com/photos/large/74ece666e9f5559.png" alt="Imagem de exemplo" width="400px" height="300px">
    <p>
        Vai ao site <a href="https://www.google.com" target="_blank">Google</a> não tem virus confia 
    </p>
    <h2>Coisas que gosto:</h2>
    <ul>
        <li>Programação</li>
        <li>Jogos</li>
        <li>Música</li>
    </ul>
    <h2>Horário Simples</h2>
    <table border="1">
        <tr>
            <th>Dia</th>
            <th>Atividade</th>
        </tr>
        <tr>
            <td>Segunda</td>
            <td>Escola</td>
        </tr>
        <tr>
            <td>Sexta</td>
            <td>Jogos</td>
        </tr>
    </table>
</body>
</html>
